.ui-timepicker-wrapper {
  overflow-y: auto;
  max-height: 150px;
  width: 8em;
  background: #fff;
  border: 1px solid #ddd;
  outline: none;
  z-index: 10052;
  margin: 0;
  box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);
  margin: 8px 0;
  border-radius: 2px;
  outline: 0;
  font-size: 14px;
  position: absolute;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
  width: 11em;
}

.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ui-timepicker-duration {
  margin-left: 5px;
  color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888;
}

.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0;
  line-height: 2em;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #f1f3f4;
  cursor: default;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2;
}

.ui-timepicker-input {
  border: none;
  outline: none;
  color: #3c4043;
  line-height: 20px;
  font-size: 14px;
}

input[type="text"].ui-timepicker-input:hover,
input[type="text"].ui-timepicker-input:focus {
  background: #f2f2f2d3;
}

.time-input-err {
  border: 1px solid #cc0033;
  outline: none;
}

.input-control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 8em;
}

.input-control span {
  color: #cc0033;
  font-size: 12px;
}

.ui-list-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: none;
}

.visible {
  display: block;
  z-index: 1;
}
