{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "static": "./src/static",
          "utils": "./utils",
          "Components": "./src/Components"
        }
      }
    ]
  ]
}
